<!DOCTYPE html>
<html>
<head>
    <title>Rick and Morty Episodes</title>

</head>
<link rel="stylesheet" href="css/styles.css">
<body>

<h1>Rick and Morty Episode Images</h1>

<ul>
        {% if episode is defined %}
            <li class="episode-container" onclick="toggleEpisodeDetails(this)">
                <button class="episode-button">{{ episode.name }}</button>
                <div class="episode-details">
                    <strong>ID:</strong> {{ episode.id }}<br>
                    <strong>Name:</strong> {{ episode.name }}<br>
                    <strong>Date:</strong> {{ episode.air_date }}<br>
                    <ul>
                        {% for episode in episode.episode %}
                            <li>{{ episode }}</li>
                        {% endfor %}
                    </ul><br>
                    <strong>Images</strong><br>
                    {% for characterImage in episode.characterImg %}
                        <img src="{{ characterImage }}" alt="{{ episode.name }} Character Image">
                    {% endfor %}
                </div>
            </li>
        {% endif %}
</ul>

<script>
    function toggleEpisodeDetails(element) {
        element.classList.toggle("open");
    }
</script>
</body>
</html>
