<!DOCTYPE html>
<html>
<head>

    <title>Rick and Morty Episodes</title>

</head>
<link rel="stylesheet" href="css/styles.css">
<body>

<h1>Rick and Morty Episodes</h1>

<form action="" method="GET">
    <input type="text" name="search" id="searchInput" placeholder="Search episodes by name...">
    <input type="submit" value="Search">
</form>

<ul>
    {% if episode is defined %}
        <li class="episode-container" onclick="toggleEpisodeDetails(this)">
            <button class="episode-button">{{ episode.name }}</button>
            <div class="episode-details">
                <strong>ID:</strong> {{ episode.id }}<br>
                <strong>Name:</strong> {{ episode.name }}<br>
                <strong>Episodes:</strong>
                <ul>
                    {% for episode in episode.episode %}
                        <li>{{ episode }}</li>
                    {% endfor %}
                </ul><br>
                <strong>Image</strong><br>
                <img src="{{ episode.image_url }}" alt="{{ episode.name }} Image">
            </div>
        </li>
    {% else %}
        {% for singleEpisode in episodes %}
            <li class="episode-container" onclick="toggleEpisodeDetails(this)">
                <button class="episode-button">{{ singleEpisode.name }}</button>
                <div class="episode-details">
                    <strong>ID:</strong> {{ singleEpisode.id }}<br>
                    <strong>Name:</strong> {{ singleEpisode.name }}<br>
                    <strong>Episodes:</strong>
                    <ul>
                        {% for episode in singleEpisode.episode %}
                            <li>{{ episode }}</li>
                        {% endfor %}
                    </ul><br>
                    <strong>Image</strong><br>
                    <img src="{{ singleEpisode.image_url }}" alt="{{ singleEpisode.name }} Image">
                </div>
            </li>
        {% endfor %}
    {% endif %}

</ul>

<script>
    function toggleEpisodeDetails(element) {
        element.classList.toggle("open");
    }
</script>
</body>
</html>
